<h1>New message</h1>
<% if @has_already_made_in_hour %>
  <p>Already made this hour!</p>
<% else %>
  <%= render "form", message: @message  %>
<% end %>
<br>

<div>
  <%= link_to "Back to messages", messages_path %>
</div>
